<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django-Practice</title>
  </head>
  <body>
    <h1>Welcome to Django Practice Webpage</h1>
    <h2>Enter Your Text Below:</h2>
    <form action="/captilize">
      <textarea
        name="Enter Your Text Here"
        id="text"
        textholder="hi"
        style="width: 1342px; height: 333px">
      </textarea>
    </form>
    <button>analyze text</button>
  </body>
</html>
